* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #181922;
}

h1 {
  font-size: 6rem;
  color: orangered;
  text-shadow: 0 0 20px #52e309;  
}
