* {
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020a75;
}

h1 {
  font-size: 6rem;
  color: orangered;
  text-shadow: 0 0 20px red;
  margin: 2rem;
}
